RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*?)/?$ $1.php

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)/$ $1.html [NC,L] 

Redirect /index.html /downloads/tunes
Redirect /downloads/index.html /downloads/tunes
Redirect 301 /charity https://www.youtube.com/watch?v=dQw4w9WgXcQ
Redirect 301 /onlyfans https://www.youtube.com/watch?v=dQw4w9WgXcQ
Redirect 301 /spotify https://open.spotify.com/artist/4r5NU2vVMhg9xB2a54qXxR

ErrorDocument 404 /404.php
