@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



/* --------------General------------- */

.s:hover{
    transition: 0.3s;
    filter: invert(69%) sepia(31%) saturate(5346%) hue-rotate(-50deg) brightness(87%) contrast(101%);
}

::selection {
    color: white;
    background-color: #963CEE;
}

.bbody {
    width: auto;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

p {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/* --------------Links page------------- */

.content {
    background: #ffffff;
    border-radius: 32px;
    width: 470px;
    height: 330px;
    margin-top: calc(50vh - 170px);
    /* margin-top: 10%; */
}

.name {
    display: flex;
    justify-content: center;
    align-items: center; 
}

p.name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
}

.avatar {
    margin-top: 29px;
    width: 135px;
    height: 135px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

#avatar {
    width: 135px;
    height: 135px;
    margin-left: 250%;
    border-radius: 100%;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.links > * { margin: 0 10px; }
.links > :first-child { margin-left: 9px; }
.links > :last-child { margin-right: 0; }

.follow-icon {
    height: 30px;
    width: 30px;
    filter: invert(1);
}

.follow-icon:hover {
    height: 30px;
    width: 30px;
    filter: brightness(0) saturate(100%) invert(26%) sepia(57%) saturate(5584%) hue-rotate(262deg) brightness(99%) contrast(88%);
}

.follow-entrance {
    margin-top: 15px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #000;
    text-decoration: none;
}

.follow-entrance:hover {
    color: #963CEE;
}

/* --------------SetUp page------------- */

.SetUpPanel {
    background: #fff;
    width: 600px;
    height: 735px;
    border: white 20px solid;
    border-radius: 32px;
    margin-top: calc(10vh - 40px);
    /* margin-top: 10%; */
}

.description {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    margin: auto;
    align-items: center; 
    margin-top: 13px;
    /* border: #000 solid 1px; */
}

p.heading {
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 36px;
    height: 40.49px;
    margin: auto;
}

p.hello {
    margin: auto;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 18px;
    height: 21.26px;
    margin-bottom: 10px;
}

p.descriptionTxt {
    margin: auto;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-size: 18px;
    height: 21.26px;
    margin-bottom: 45px;
}

/* kinda local global stuff ------------------------------------------------------------------ */

.User {
    margin: auto;
    display: flex;
    width: 600px;
    height: 160px;
}

#avatarPreview {
    width: 160px;
    height: 160px;
    border-radius: 31px;
    margin-left: 0%;
    z-index: 5;
}

.UserInfo {
    margin: auto;
    display: flex;
    width: 600px;
    height: 160px;
}

/* userName -------------------------------------------------------------------------------- */

.userName {
    margin: auto;
    display: flex;
    width: 406px;
    height: 40px;
    padding-left: 15px;
    margin-top: 0%;
    margin-bottom: 13px;
}

p.userName {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    width: 100px;
    height: 40px;
    padding-right: 43px;
}

input.userName {
    border: #E44E45 2px solid;
    border-radius: 13px;
    width: 245px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 24px;
    padding-left: 0%;
}

/* userBg -------------------------------------------------------------------------------- */

.userBg {
    margin: auto;
    display: flex;
    width: 406px;
    height: 40px;
    padding-left: 15px;
    margin-bottom: 13px;

}

p.userBg {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    width: 100px;
    height: 40px;
    padding-right: 143px;
}

#file-upload input[type="file"] {
    display: none;
}

#file-upload {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 40px;
    background: #E44E45;
    border-radius: 13px;
    color: #ffffff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    padding-left: 0%;
}

#file-upload:hover {
    transition: 0.3s;
    background: #CE372E;
}

#file-upload label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#file-upload span {
    line-height: 40px;
    font-weight: regular;
}


/* userAvatar -------------------------------------------------------------------------------- */

.userAvatar {
    margin: auto;
    display: flex;
    width: 406px;
    height: 40px;
    padding-left: 15px;

}

p.userAvatar {
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
    width: 100px;
    height: 40px;
    padding-right: 143px;
}

input.userAvatar {
    border: #E44E45 2px solid;
    border-radius: 13px;
    width: 263px;
    height: 40px;
    background: transparent;
    text-align: center;
    font-size: 24px;
    padding-left: 0%;
}

.uploaded-img {
    position: absolute;
    opacity: 0;
    z-index: 3;
    border-radius: 29px;
}

.uploaded-img.active {
    opacity: 1;
    z-index: 3;
}

/* -------------------------------------------------------------------------------------- */

.Links {
    margin: auto;
    /* display: flex; */
    justify-content: center;
    align-items: center; 
    margin-top: 45px;
}

.linkBox {
    border: #000 2px solid;
    border-radius: 10px;
    width: 464px;
    height: 30px;
    background: transparent;
    text-align: left;
    font-size: 20px;
    padding-left: 8px;
    margin-left: 19px;
}

#logo {
    width: 30px;
    height: 30px;
}

.youtube {
    /* border: #CE372E 2px solid; */
    width: 513px;
    height: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.insta {
    /* border: #CE372E 2px solid; */
    width: 513px;
    height: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.github {
    /* border: #CE372E 2px solid; */
    width: 513px;
    height: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.facebook {
    /* border: #CE372E 2px solid; */
    width: 513px;
    height: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.spotify {
    /* border: #CE372E 2px solid; */
    width: 513px;
    height: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.vk {
    /* border: #CE372E 2px solid; */
    width: 513px;
    height: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

.twitch {
    /* border: #CE372E 2px solid; */
    width: 513px;
    height: 33px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; 
}

#submit input[type="submit"] {
    display: none;
}

#submit {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 40px;
    background: #4572E4;
    border-radius: 53px;
    color: #ffffff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    padding-left: 0%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

#submit:hover {
    transition: 0.3s;
    background: #385EBF;
}

#submit label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}

#submit span {
    line-height: 40px;
    font-weight: regular;
    cursor: pointer;

}


/* Register panel ======================================================================*/

.regPanel {
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */

    background: #fff;
    width: 600px;
    height: 320px;
    border: white 20px solid;
    border-radius: 32px;
    margin-top: calc(10vh - 40px);
    /* margin-top: 10%; */
}

.login {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 245px;
    height: 40px;
    margin-top: 3%;
    margin-bottom: 13px;
}

input.login {
    margin-top: 35px;
    border: #4572E4 2px solid;
    border-radius: 13px;
    width: 245px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 24px;
}

input.password {
    border: #4572E4 2px solid;
    border-radius: 13px;
    width: 245px;
    height: 34px;
    background: transparent;
    text-align: center;
    font-size: 24px;
    margin-bottom: 13px;
}

#submit input[type="submit"] {
    display: none;
}

#submit {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 40px;
    background: #4572E4;
    border-radius: 53px;
    color: #ffffff;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    padding-left: 0%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}

#submit:hover {
    transition: 0.3s;
    background: #385EBF;
}

#submit label {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* pointer-events: none; */
}

#submit span {
    line-height: 40px;
    font-weight: regular;
    cursor: pointer;

}



/* NEW SITE ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* NEW SITE ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* NEW SITE ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* NEW SITE ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* NEW SITE ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* NEW SITE ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */
/* NEW SITE ▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬▬ */



.header {
    height: 50px;
    width: 1534px;
    /* background-color: #385EBF; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */

}

.header-logo {
    width: 90px;
    padding-top: 4px;
    /* padding-left: 191px; */
}

.header-logo:hover {   
    filter: brightness(0) saturate(100%) invert(26%) sepia(57%) saturate(5584%) hue-rotate(262deg) brightness(99%) contrast(88%);
}

.header-icons {
    width: 210px;
    height: 15px;
    margin: auto;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 2px;
}

.header-social-icon {
    width: 15px;
    height: 15px;
    padding-right: 18px;
}

.header-social-icon:hover {
    filter: brightness(0) saturate(100%) invert(26%) sepia(57%) saturate(5584%) hue-rotate(262deg) brightness(99%) contrast(88%);
}

/* Navigation --------------------------------- */

.navigation {
    width: 1534px;
    height: 87px;
    /* border: 2px solid red; */
    margin: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 15px;
}

.navigation a {
    text-decoration: none;
}


.navigation-text {
    height: 42px;
    padding-left: 21px;
    /* padding-top: 22px;
    padding-bottom: 23px; */
    align-items: center;
}

p#navigation-selected-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #121315;
    margin-top: 26px;
    margin-bottom: 2px;
}

p#navigation-selected {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #555555;
    margin-top: 0px;
}

/* -------------- */

p#navigation-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 26px;
    margin-bottom: 2px;
}

p#navigation {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-top: 0px;
}

/* ------------------ */

#nav-icon-selected {
    width: 45px;
    height: 45px;
    padding-left: 38px;
    padding-top: 21px;
}

#nav-icon {
    width: 45px;
    height: 45px;
    padding-left: 38px;
    padding-top: 21px;
    filter: invert(100%) sepia(99%) saturate(17%) hue-rotate(211deg) brightness(105%) contrast(100%);
}

.songs {
    width: 505px;
    height: 87px;
    background: #121315;
    border-radius: 20px;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* margin-right: 10px; */
}

.songs-selected {
    width: 505px;
    height: 87px;
    background: #fff;
    border-radius: 20px;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.songs:hover {
    width: 505px;
    height: 87px;
    outline:  #953ced 2px solid;
    border-radius: 20px;
    display: flex;
    /* margin-left: 10px; */
}

.songs:hover #nav-icon {
    width: 45px;
    height: 45px;
    padding-left: 38px;
    padding-top: 21px;
    filter: invert(30%) sepia(75%) saturate(1859%) hue-rotate(252deg) brightness(92%) contrast(103%);
}

.songs:hover p#navigation-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #953ced;
    margin-top: 26px;
    margin-bottom: 2px;
}

.songs:hover p#navigation {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #953ced;
    margin-top: 0px;
}

/* Artworks */

.artworks {
    width: 505px;
    height: 87px;
    background: #121315;
    border-radius: 20px;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 10px;
}

.artworks-selected {
    width: 505px;
    height: 87px;
    background: #fff;
    border-radius: 20px;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 10px;
}

.artworks:hover {
    width: 505px;
    height: 87px;
    outline:  #953ced 2px solid;
    border-radius: 20px;
    display: flex;
    margin-left: 10px;
}

.artworks:hover #nav-icon {
    width: 45px;
    height: 45px;
    padding-left: 38px;
    padding-top: 21px;
    filter: invert(30%) sepia(75%) saturate(1859%) hue-rotate(252deg) brightness(92%) contrast(103%);
}

.artworks:hover p#navigation-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #953ced;
    margin-top: 26px;
    margin-bottom: 2px;
}

.artworks:hover p#navigation {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #953ced;
    margin-top: 0px;
}

/* Miscellaneous Assets */

.misc {
    width: 505px;
    height: 87px;
    background: #121315;
    border-radius: 20px;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 10px;
}

.misc-selected {
    width: 505px;
    height: 87px;
    background: #fff;
    border-radius: 20px;
    /* margin: auto; */
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 10px;
}

.misc:hover {
    width: 505px;
    height: 87px;
    outline:  #953ced 2px solid;
    border-radius: 20px;
    display: flex;
    margin-left: 10px;
}

.misc:hover #nav-icon {
    width: 45px;
    height: 45px;
    padding-left: 38px;
    padding-top: 21px;
    filter: invert(30%) sepia(75%) saturate(1859%) hue-rotate(252deg) brightness(92%) contrast(103%);
}

.misc:hover p#navigation-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #953ced;
    margin-top: 26px;
    margin-bottom: 2px;
}

.misc:hover p#navigation {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #953ced;
    margin-top: 0px;
}

.search {
    width: 1534px;
    height: 44px;
    /* margin-top: 10px; */
    margin: auto;
    display: flex;
    align-items: center;
    background: #121315;
    border-radius: 20px;
    font-size: 16px;

}

input.search {
    width: 1534px;
    height: 40px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    display: flex;
    align-items: center;
    background: transparent;
    padding-left: 0%;
    overflow: hidden;
    color: #fff;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    text-align: left;
    text-indent: 15px;
}

input.search:focus, textarea:focus, select:focus{
    outline: #953ced 1px solid;

}

/* Tune ========================================================= */

.tune {
    /* border: #fff 2px solid; */
    height: 96px;
    width: 1516px;
    margin: auto;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 10px;
}

.tune p {
    color: #fff;
    font-size: 20px;
    height: 14px;
    margin-top: 2px;
    margin-bottom: 12px;
}

#long-title {
    color: #fff;
    font-size: 20px;
    height: 14px;
    margin-top: 2px;
    margin-bottom: 35px;
}

.tune p1 {
    font-family: 'Roboto', sans-serif;
    color: #696969;
    font-size: 17px;
    height: 13px;
}

/* Culumn 1 =================================== */

.column-1 {
    /* border: red 2px solid; */
    height: 96px;
    width: 386px;
    /* margin: auto; */
    display: flex;
    align-items: center;
}

#tune-artwork {
    height: 90px;
    width: 90px;
    border-radius: 20px;
}

#tune-text {
    margin-left: 16px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
 

}

/* Culumn 2 =================================== */

.column-2 {
    /* border: green 2px solid; */
    height: 96px;
    width: 125px;
    /* margin: auto; */
    display: flex;
    align-items: center;
}

#tune-date {
    /* margin-left: 100px; */
    align-items: center;
    /* display: flex; */

}

/* Culumn 3 =================================== */

.column-3 {
    /* border: blue 2px solid; */
    height: 96px;
    width: 600px;
    /* margin: auto; */
    display: flex;
    align-items: center;
}

#single {
    height: 32px;
    width: 72px;
    outline: #FF39D4 2px solid;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
}

#single p {
    color: #FF39D4;
    padding-top: 4px;
    padding-left: 2px;
    font-size: 17px;
    width: 72px;
}

#remix {
    height: 32px;
    width: 72px;
    outline: #19E9FF 2px solid;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
}

#remix p {
    color: #19E9FF;
    padding-top: 4px;
    padding-left: 2px;
    font-size: 17px;
    width: 72px;
}

#ep {
    height: 32px;
    width: 43px;
    outline: #F66C03 2px solid;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
}

#ep p {
    color: #F66C03;
    padding-top: 4px;
    padding-left: 2px;
    font-size: 17px;
    width: 43px;
}

#album {
    height: 32px;
    width: 72px;
    outline: #1AFF2F 2px solid;
    border-radius: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 15px;
}

#album p {
    color: #1AFF2F;
    padding-top: 4px;
    padding-left: 2px;
    font-size: 17px;
    width: 72px;
}

/* Culumn 4 =================================== */

.column-4 {
    /* border: pink 2px solid; */
    height: 96px;
    width: 143px;
    /* margin: auto; */
    display: flex;
    align-items: center;
    margin-left: 15%;
}

.download-button {
    /* border: #fff 2px solid; */
    height: 44px;
    width: 143px;
    background-color: #963CEE;
    border-radius: 22px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

#download {
    text-decoration: none;
}

.download-button p {
    padding-left: 4px;
    padding-right: 3px;
    padding-top: 3px;
    font-size: 17px;
    color: #fff;
    font-family: 'Ubuntu', Courier, monospace;
}

/* Artwork ========================================================= */

.artwork-box {
    /* border: #fff 2px solid; */
    width: 1540px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    /* justify-content: center; */

}

#artwork-single {
    /* border: blue 2px solid; */
    height: 300px;
    width: 300px;
    margin: 4px 4px;
}

#artwork-img {
    height: 300px;
    width: 300px;
}